@model ML.Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/Login.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main">
        <div class="container a-container" id="a-container">
            @using (@Html.BeginForm("Register", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
            {
                <h2 class="form_title title">Crear Cuenta</h2>
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form__input", @placeholder = "Nombre" })
                @Html.TextBoxFor(model => model.ApellidoPatenro, new { @class = "form__input", @placeholder = "Apellido" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form__input", @placeholder = "Email", @type = "email" })
                <input class="form__input" type="password" name="passwordIngresado" placeholder="Contraseña">

                <button class="button" type="submit">Registrar</button>

            }
        </div>
        <div class="container b-container" id="b-container">
            @using (@Html.BeginForm("Login", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
            {
                <h2 class="form_title title">Iniciar Sesión</h2>
                <input class="form__input" type="text" placeholder="Email" name="email">
                <input class="form__input" type="password" name="password" placeholder="Password"><a class="form__link" @Html.ActionLink("Olvide mi contraseña","NewPassword" ,"Usuario")></a>
                <button class=" button" type="submit">Entrar</button>
            }
        </div>
        <div class="switch" id="switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1">
                <h2 class="switch__title title">Hola de nuevo!</h2>
                <p class="switch__description description">Por favor inicia sesión </p><button class="switch__button button switch-btn">Iniciar Sesión</button>
            </div>
            <div class="switch__container is-hidden" id="switch-c2">
                <h2 class="switch__title title">Bienvenido!</h2>
                <p class="switch__description description">Ingresa tu información para registrarte</p><button class="switch__button button switch-btn">Iniciar Registro</button>
            </div>
        </div>
    </div>
    <script src="/js/Login.js"></script>
</body>

</html>
