@model ML.Producto

<div class="container">
    <div class="text-center">
        <h1>Formulario de Productos</h1>
        <h5>Ingrese la información del producto a registrar</h5>
    </div>
    <hr />


    @using (Html.BeginForm("Form", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            @Html.TextBoxFor(model => model.IdProducto, new { @class = "form-control", @style = "display: none" })
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-basket-fill" style="color: #0056d6;"></i></span>
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Ejemplo: Papitas" })
                </div>
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Precio)
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-money-bill-wave" style="color: #0056d6;"></i></span>
                    @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", @placeholder = "$MXN" })
                </div>
                @Html.ValidationMessageFor(model => model.Precio)
            </div>
            <div class="col-md-3">
                @Html.Label("Departamento")
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-store" style="color: #0056d6;"></i></span>
                    @if (Model.Departamento.Departamentos == null)
                    {
                        @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(string.Empty, "Value", "Text"), "Selecciona una opción", new { @class = "form-control", @id = "ddlDepartamento" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Nombre"), "Selecciona una opción", new { @class = "form-control", @id = "ddlDepartamento" })

                    }

                </div>
            </div>
            <div class="col-md-3">
                @Html.Label("Areas")
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-store" style="color: #0056d6;"></i></span>
                    @Html.DropDownListFor(model => model.Departamento.Area.IdArea, new SelectList(Model.Departamento.Area.Areas, "IdArea", "Nombre"), "Selecciona una opción", new { @class = "form-control", @id = "ddlArea" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @if (@Model.IdProducto == 0)
            {
                <button type="submit" class="btn btn-success"><i class="bi bi-save-fill"></i> Agregar</button>
            }
            else
            {
                <button type="submit" class="btn btn-info">Actualizar</button>
            }

            @Html.ActionLink("Regresar", "GetAll", "Producto", htmlAttributes: new { @class = "btn btn-danger" })
        </div>


    }
</div>
@section Scripts
{
    <script type="text/javascript">

      $(document).ready(function () {
                $("#ddlArea").change(function () {
                    $("#ddlDepartamento").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetDepartamentosByIdArea")',
                        dataType: 'json',
                        data: { idArea: $("#ddlArea").val() },
                        success: function (departamentos) {
                            $("#ddlDepartamento").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                            $.each(departamentos, function (i, departamentos) {
                                $("#ddlDepartamento").append('<option value="'
                                    + departamentos.idDepartamento + '">'
                                    + departamentos.nombre + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed.' + ex);
                        }
                    });
                });

      });

    </script>

    }
